*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*header*/
header{
    background-color: black;
    margin: 0;
}


/*navigation*/
.logo{
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    letter-spacing: 0.2px;
}

.logo a{
    color: #df4242;
}

.navbar-toggler{
    border: none;
}

.custom-toggler.navbar-toggler {
    border-color: lightgreen;
}
/* Setting the stroke to green using rgb values (0, 128, 0) */
 
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(223, 66, 66, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.navbar{
    padding: 0;
    background-color: black;
}

.navbar a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    white-space: nowrap;
    transition: 0.3s;
    color: #df4242;
    font-weight: 400;
}

.navbar a:hover{
    color: #d48686;
}

/*hero section*/
#hero{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(https://images.unsplash.com/photo-1508444845599-5c89863b1c44?q=80&w=869&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) top center;
    background-size: cover;
}

#hero::before{
    content: "";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

h1{
    letter-spacing: 1px;
}

/*content-join-now-section*/
#join-now-section h1{
    line-height: 1;
    align-items: center;
}

/*Intro-section*/

#intro-section{
   padding: 20px 15px;
   background-color: whitesmoke;
}


/*people-section*/

.carousel-control-prev{
    color: black;
}

#people-section{
    padding: 12px 0;
    background-color: whitesmoke;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: gray; /* Button background color */
  border-radius: 50%; /* Button border radius to make it circular */
  width: 45px; /* Button width */
  height: 45px;
 }

.carousel-item img {
    width: 14rem;
    height: auto;
    border-radius: 50%;
  }

  .carousel-caption {
    position: absolute;
    bottom: 0.1px; 
    display: block;
    justify-content: center;
    padding: 1px 2px 1px 2px;
    margin-top: 2px;
  }

  .carousel-item .active{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Set minimum height for carousel items to occupy full viewport height */
    text-align: center; /* Center text content */
  }

  .carousel-caption p{
    color: #f5fefd;
  }


/*meet-team*/

.card{
    border: none;
    text-align: center;
    padding: 8px 10px;
    margin: 5px 2px;
    background: none;
}

.card img{
    border-radius: 50px;
}

#meet-team{
    background-color: whitesmoke;
}

/*competitons*/

#competitions{
    background-color: whitesmoke;
}

/*achivements*/

#achivements{
    background-color: whitesmoke;
}

/*accordion*/

#accordion-section{
    background-color: wheat;
}

.question-card, 
.card-header{
    background-color: white;
    padding: 0px;
    margin: 10px;
    border-radius: 20px;
    border: none;
}

.question-card{
    box-shadow: 0 12px 15px 0 rgba(10, 10, 10, 0.18);

}

.btn-link{
    width: 100%;
    height: 60px;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
}

.question-card-body{
    padding: 12px 18px;
    font-size: 20px;
    font-weight: 400;
    border: none;
}


.FAQ{
    border-radius: 35px;
    border: none;
}

/*partner-section*/

#partner-section{
    background-color: whitesmoke;
}

/*team-hawk*/
#team-hawk {
    position: relative;
    overflow: hidden;
  }

  .team-hawk-img {
    width: 100%;
    height: auto;
  }

  .background-overlay {
    display: none;
  }

  .icons a {
    margin: 0 15px; /* Adds space between the icons */
    font-size: 2rem; /* Increases the size of the icons */
  }

  @media (max-width: 630px) {
    #team-hawk {
      display: flex;
      justify-content: center;
      align-items: center;
      background: url('https://img.freepik.com/free-vector/remote-controlled-quadrocopter-composition_1284-29759.jpg?t=st=1711890454~exp=1711894054~hmac=e754509384014dff6b144d4fb56f6f55c8982e99cc3c728015d5ba17c5f5c83b&w=740') no-repeat center center;
      background-size: cover;
      height: 100vh;
      color: white;
      text-align: center;
    }

    .team-hawk-img {
      display: none;
    }

    #team-hawk-text {
      width: 100%;
    }
  }


/*contact*/

#contact iframe{
    border-radius: 20px;
    background-position: center;
    object-fit: cover;
    width: 100%;
}

#contact{
    background-color: whitesmoke;
}

/*footer*/

#footer{
    background-color: black;
}




